---
layout: simple
---

{% assign faq = site.data.faq.items %}

<h1>FAQ</h1>

<section>
  
  <h3>Allgemein</h3>
  {% for item in faq %}
{% if item.category == "general" %}
  <button class="accordion">{{ item.question }}</button>
<div class="panel">
<p>{{ item.answer | markdownify }}</p>
</div>
{%endif%}
  {% endfor %}
<hr>
    <h3>Hardware</h3>
    {% for item in faq %}
{% if item.category == "hardware" %}
    <button class="accordion">{{ item.question }}</button>
<div class="panel">
  <p>{{ item.answer | markdownify }}</p>
</div>
{%endif%}
    {% endfor %}
  <hr>
    <h3>Software</h3>
    {% for item in faq %}
{% if item.category == "software" %}
    <button class="accordion">{{ item.question }}</button>
<div class="panel">
  <p>{{ item.answer | markdownify }}</p>
</div>
{%endif%}
    {% endfor %}

<!-- 
  {% for item in faq %}
  <h2 id="{{ item.question | slugify}}">
    {{ item.question }}<a
      class="header-link"
      href="#{{ item.question | slugify }}"
      >#</a
    >
  </h2>
  {% endfor %} -->
</section>



<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>