.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	position: relative;
}

.logo {
	img {
		height: 30px;
	}
}

.content {
	background: #fff;
	padding: 60px 0;
	flex-grow: 1;
}

dt, h2 {
	a.header-link {
		text-decoration: none;
		color: #ccc;
		opacity: 0;
		transition: opacity ease .2s,color ease .2s;
		vertical-align: bottom;
		margin: 0 0 0 5px;

		&:hover {
			color: $link-color;
		}
	}

	&:hover a {
		opacity: 1;
	}
}

.video_wrapper {
	position: relative;
	padding-bottom: 59.5%;
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding: 10px;
	border-radius: 1rem;

	/* On mouse-over, add a deeper shadow */
	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.container {
		padding: 2px 16px;

		// Top bar of card
		.top {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 1rem;
	
			h4 {
				margin: 0;
			}
		}
	}
  }

