<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
	<link rel="stylesheet"
		href="//fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,300,700,700italic|Open+Sans:400italic,600italic,700italic,700,600,400|Inconsolata:400,700">

	{% seo %}
	{% feed_meta %}
</head>

{% assign t = site.data.translations %}
{% assign categories = site.descriptions %}
{% assign page_category = page.categories %}

<body>
	<section class="content" style="padding: 0">
		<div>
			{{ content }}
		</div>
	</section>
</body>

</html>